<!DOCTYPE html>
<html>
<head>
    
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
</head>
<body>
    <center>
    <h1>Hojas de vida</h1>
    
    <hr>
    <div class="info">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="{{url_for('sebas')}}">Sebastián Alvarado</a><br>
        <br>
        <a href="{{url_for('gonza')}}">Sebastián Gonzalez</a><br>   
        <br>
        <a href="{{url_for('mechi')}}">David Moreno</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div align="center"><a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='imgG/escudo-universidad-distrital.png')}}" width="150px"></a></div>
    </center>
</body>
</html>